h1 {
  color: black;
}

.wrapper { 
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  text-align: center;
  height: 97.5vh;
  z-index: 4;
}

p {
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
  align-items: center;
  font-family: 'Times Newer Roman';
  font-weight: bold;
  font-size: 4.2vw;
  align-items: center;
  text-align: center;
  line-height: 1px;
  padding-top: 9%;
}

#header-blurb {
  line-height: 2em;
  font-size: 1.6vw;
  margin-top: 0rem;
}


.description {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
  font-family: 'Times Newer Roman';
    font-size: 14px;
  padding-top: 15%;
margin-left: 25%;
  margin-right: 25%;

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  color: red;
  text-align: center;
  font-family: 'Times Newer Roman';
    font-size: 15px;
}

#joe:hover {
  color: blue;
  
}

#nicco:hover {
color: red;
}

a:link {
  text-decoration: none;
  color: black;
}

.example1 {
 z-index: 1;
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.example1 h3 {
 font-size: 2em;
 color: black;
 position: inline-flex;
 width: 98vw;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

#merch {
 position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Times Newer Roman';
    font-size: 15px; 
}

